doctype html
html
  head
    title express-upload-progress
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/script.js')